#enlace {
    color: black;
    text-align: center;
}
#hecho {
    color: #fff;
    font-size: 20px;
}
#question {
    height: 100px;
    text-align: center;
    font-size: 30px;
}
#elemCuestionario img {
    border-radius: 10%;
    box-shadow: 0 0 0 8px rgba(0, 0, 0, .06);
    margin: 15px auto;
    transition: .2s;
    width: 100%;
}
#elemCuestionario img:hover {
    box-shadow: 0 0 0 12px rgba(0, 0, 0, .1);
}
.card-block {
    min-height: 90px;
}
#chosenBlock{
    background-color: #e3e3e3;
}
/*estilos del scroll cuestionarios*/

@media(max-width: 991px) {
    #blockContent{
        display: inline-block;
        width: 100px;
        margin-right: 5px;
    }
    #colScroll {
        position: relative;
        bottom: 0;
        z-index:3;
    }
    #my-custom-scrollbar {
        overflow: auto;
        white-space: nowrap;
    }
    #my-custom-scrollbar a {
        display: inline-block;
        width: 100px;
        margin-left: 4px;
        margin-right: 5px;
        margin-top: 8px;
    }
    #contenedorInput {
        margin-bottom: 200px;
    }
}
@media(min-width: 991px) {
    #colScroll {
        margin-top: 25px;
    }
    #my-custom-scrollbar {
        height: 610px;
        overflow: auto;
    }
    .table-wrapper-scroll {
        display: block;
    }
    #contenedorInput {
        margin-bottom: 70px;
    }
    #my-custom-scrollbar a {
        margin-top: 8px;
        margin-bottom: 5px;
    }
}